body {
    background-color: #E5E5E5;
}

/*Block 1*/
#banner-1 {
    background: #0B2239;
    height: 72px;
    width: 1440px;
    display: flex;
    margin: 24px;
}

.banner-1-txt {
    width: 922px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 16px 42px 16px 120px;

}

.banner-1-txt-2 {
    width: 86px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4AD295;
    margin: auto;
}

.banner-1-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 130px;
    height: 36px;
    background: #4AD295;
    border-radius: 2px;
    margin: 18px 120px 18px 20px;
    border: none;
}

.banner-1-btn-txt {
    width: 110px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 8px 6px;
}

/*Block 2*/
#banner-2 {
    width: 1440px;
    height: 52px;
    background: #2B2627;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    display: flex;
    margin: 24px 24px 72px 24px;
}


.banner-2-txt {
    width: 689px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 16px 0px 16px 0px;
}

.banner-2-txt-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 16px 0px 16px 0px;
    text-decoration-line: underline;
}

.image-alert {
    width: 16px;
    height: 16px;
    margin: 18px 8px 18px 348px;
}

.image-close {
    width: 16px;
    height: 16px;
    margin: 18px 355px 18px 16px;
}

/*Block 3*/
#banner-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    margin: 0px 0px 24px 24px;
}

.banner-3-txt {
    width: 347px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0D0C22;
}

.banner-3-txt-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #EA4C89
}

.cookie-png {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 10px;
    width: 20px;
    height: 20px;
    background: rgba(234, 76, 137, 0.1);
    border-radius: 10px;
    margin: 18px 10px 18px 10px;
}

.banner-3-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 63px;
    height: 28px;
    background: rgba(13, 12, 34, 0.05);
    border-radius: 8px;
    margin: 22px 10px;
    border: none;
}

.banner-3-btn-txt {
    display: flex;
    width: 43px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #0D0C22;
    padding: 4px 5px;
}

.banner-3-btn-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 52px;
    height: 28px;
    background: #EA4C89;
    border-radius: 8px;
    margin: 22px 16px 22px 2px;
    border: none;
}

.banner-3-btn-txt-2 {
    width: 32px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 4px 5px;
}

/*Block 4*/

#banner-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 560px;
    height: 64px;
    background: #26262B;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 10px;
    margin: 0px 0px 72px 24px;
}

.banner-4-txt {
    width: 469px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 12px 14px;
}

.banner-4-txt-2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: orange;
}

.banner-4-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 49px;
    height: 28px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-right: 15px;
    border: none;

}

.banner-4-btn-txt {
    font-family: 'Roboto', sans-serif;
    padding: 4px 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #26262B;
}

/*Block 5*/

#banner-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 360px;
    height: 210px;
    background: rgba(28, 37, 64, 0.95);
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 6px;
    margin: 0px 40px 72px 24px;
}

.banner-5-txt {
    width: 125px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 24px 215px 10px 24px;
}

.banner-5-txt-2 {
    width: 312px;
    height: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0px 24px 24px 24px;
}

.banner5-txt-2-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: underline;
}

.banner-5-txt-3 {
    display: flex;
    width: 160px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: 5px 67px 32px 24px;
}

.banner-5-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 85px;
    height: 32px;
    background: #09B3AF;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    margin-right: 24px;
    border: none;
}

.banner-5-btn-txt {
    width: 45px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 20px;
}

.banner-5-btn-txt-2-3 {
    display: flex;
}

/*Block-6*/

#banner-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 360px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    margin: 0px 0px 72px 24px;
}

.banner-6-txt {
    width: 135px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #0F181D;
    margin: 16px 212px 10px 16px;
}

.banner-6-txt-2 {
    width: 328px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #687F8C;
    margin: 0px 16px 16px 16px;

}

.banner-6-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 32px;
    background: #EAF0F4;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    margin: 0px 8px 16px 16px;
    border: none;
}

.banner-6-btn-txt {
    width: 144px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #687F8C;
}

.banner-6-btn-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 32px;
    background: #40C1A7;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    margin: 0px 16px 16px 0px;
    border: none;
}

.banner-6-btn-txt-2 {
    width: 144px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;

}

.buttons-6-banner {
    display: flex;
}

/*Block-7*/

#banner-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 260px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(186, 226, 255, 0.15) 23.96%, rgba(229, 217, 255, 0.15) 71.87%, rgba(255, 255, 255, 0.15) 100%), #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 20px;
    margin: 0px 0px 72px 24px;
}

.banner-7-txt {
    width: 104px;
    height: 48px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    color: #15295A;
    margin: 32px 108px 5px 108px;
}

.banner-7-txt-2 {
    width: 256px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #15295A;
    margin: 0px 32px 32px 32px;
}

.banner-7-btn {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-start;
    padding: 10px 32px;
    gap: 10px;
    width: 121px;
    height: 44px;
    background: #4A7EFF;
    border-radius: 43px;
    border: none;
    margin: 0px 100px 32px 100px;
}

.banner-btn-7-txt {
    width: 57px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/*Block-8*/

#banner-8 {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 137px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 4px;
    margin: 0px 0px 72px 24px;
}

.banner-8-txt {
    width: 288px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 16px 61px 0px 16px;
}

.banner-8-txt-2 {
    width: 98px;
    height: 17px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6666FF;
    margin: 20px 129px 24px 16px;
}

.banner-8-btn-txt {
    width: 48px;
    height: 17px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.banner-8-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    width: 64px;
    height: 33px;
    background: #6666FF;
    border-radius: 4px;
    border: none;
    margin: 12px 16px 16px 0px;
}

.banner-8-txt-btn {
    display: flex;
}